!!!
%html
  %head
    %title heorku postgres track and fork demo
    %script{src: '/jquery.js'}
    %script{src: '/underscore.js'}
    %style
      :sass
        body
          font-family: Futura
        .h1
          text-shadow: 2px 2px 2px white
        .dod
          position: absolute
          right: 10px
          top: 10px
          z-index: -10
        .db
          display: inline-block
          float: left
          font-size: 1.3em
          padding: 10px
          margin: 5px
          width: 250px
          height: 250px
          border-radius: 8px
          overflow: hidden
          input
            border: 0px
            font-size: 1.1em
            border-radius: 8px
            box-shadow: inset 1px 1px 5px black
            padding: 5px
          box-shadow: 1px 1px 5px black
        .content span
          display: block

    :javascript
      _.templateSettings = { interpolate : /\{\{(.+?)\}\}/g }

  %body
    %h1 heorku postgres track and fork demo
    %img.dod{:src => "/dod.png"}
    .dbs
    :javascript

      function update(db) {
        $.getJSON('/dbs/'+db, function(data) {
          var dbid = "#"+db
          $(dbid).css('background-color', data.color)

          var box = $(dbid + ' input')
          if(! box.is(":focus")) { box.val(data.color) }

          _.each(data, function(val, key) {
            $(dbid+" .content ."+key).text(val)
          })
        })
      }

      $.getJSON('/dbs', function(data) {
        _.each(data, function(vals, db) {
            var div = "<div class=db id=" + db + ">" +
              "<h2>" + db.split('').sort().reverse().join('') + " </h2>"+
              "<div class=content>" +
              "<span class=elastic_ip>"+ vals.elastic_ip +"</span>" +
              "<span class=state>"+ vals.state +"</span>" +
              '<span class="rel '+ vals.rel +'">'+ vals.rel +"</span>" +
              "<span class=current_transaction></span>"
            console.log(vals.rel)
            if(vals.rel !== "TRACK") {
               div += "<form action=/dbs/"+db+
                      "><input class=color name=color /></form>"
            }
          div += "</div></div>"
          $('.dbs').append(div)
          setInterval( function() { update(db) }, 1000)
        })
      })

      $(function(){
        $('form').live('submit', function() {
          var action = $(this).attr('action')
          var color = $(this).children('input').val()
          $.post(action, {color: color})

          return false
        })
      })

