!!!
%html
  %head
    %title heorku postgres track and fork demo
    %script{src: '/jquery.js'}
    %script{src: '/underscore.js'}
    %link{href: '/buttons.css', rel:'stylesheet'}
    %style
      :sass
        body
          font-family: Futura
          text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.3) 0 1px
        .h1
          text-shadow: 2px 2px 2px white
        .dod
          position: absolute
          right: 10px
          top: 10px
          z-index: -10
        .db
          display: inline-block
          position: relative
          float: left
          font-size: 1.3em
          padding: 10px
          margin: 5px
          width: 250px
          height: 250px
          border-radius: 8px
          overflow: hidden
          box-shadow: 1px 1px 5px black
          .previous
            position: absolute
            bottom: 10px
            span
              height: 20px
              width: 20px
              float: left
              box-shadow: 1px 1px 7px black
              margin: 5px
          input
            border: 0px
            font-size: 1.1em
            width: 190px
            border-radius: 8px
            box-shadow: inset 1px 1px 5px black
            padding: 5px
          .rel
            position: absolute
            right: -50px
            top: 20px
            -webkit-transform: rotate(45deg)
            padding: 2px 50px
            background-color: rgba(0,0,0,0.7)
            color: white

        .content span
          display: block

    :javascript
      _.templateSettings = { interpolate : /\{\{(.+?)\}\}/g }

  %body
    %h1 heorku postgres track and fork demo
    %img.dod{:src => "/dod.png"}
    .dbs
    :javascript
      COLORS = ['chartreuse', 'gold', 'darkturquoise',
                'palegreen', 'magenta', 'firebrick',
                'palevioletred', 'mediumaquamarine', 'crimson',
                'indianred', 'orangered', 'deeppink',
                'olivedrab', 'plum', 'deepskyblue',
                'orchid', 'paleturquoise', 'mintcream']

      function update(db) {
        $.getJSON('/dbs/'+db, function(data) {
          var dbid = "#"+db
          var newColor = data.colors[0]

          $(dbid).css('background-color', newColor)
          //_.without($('#BLUE').css('backgroundColor').split(/\D/), '')

          var box = $(dbid + ' input')
          if(! box.is(":focus")) { box.val(newColor) }

          var previous = $(dbid + ' .previous')
          if(previous.children().length === 0) {
            _.each(data.colors, function(color) {
              previous.append("<span style='background-color: "+ color +";'>&nbsp;</span>")
            })
          } else if (previous.children().first().css('backgroundColor') !== $(dbid).css('backgroundColor')) {
              previous.children().last().remove()
              previous.prepend("<span style='background-color: "+ newColor +";'>&nbsp;</span>")
          }

        })
      }

      $.getJSON('/dbs', function(data) {
        _.each(data, function(vals, db) {
            var div = "<div class=db id=" + db + ">" +
              "<h2>" + db.split('').sort().reverse().join('') + " </h2>"+
              "<div class=content>" +
              "<span class=elastic_ip>"+ vals.elastic_ip +"</span>" +
              "<span class=state>"+ vals.state +"</span>" +
              '<span class="rel '+ vals.rel +'">'+ vals.rel +"</span>" +
              "<span class=current_transaction></span>"
            console.log(vals.rel)
            if(vals.rel !== "TRACK") {
               div += "<form action=/dbs/"+db+
                      "><a href='' class='button xs pink glossy'>↺</a>"+
                      "<input class=color name=color /></form>"
            }
          div += "<div class=previous></div></div></div>"
          $('.dbs').append(div)
          setInterval( function() { update(db) }, 1000)
        })
      })

      $(function(){
        $('form').live('submit', function() {
          var action = $(this).attr('action')
          var color = $(this).children('input').val()
          $.post(action, {color: color})

          return false
        })

        $('a.button').live('click', function() {
          var input = $(this).siblings('input')
          input.val( COLORS[ ~~(Math.random() * COLORS.length) ]  )
          $(input.parent()).submit()
          return false
        })
      })

